Karla De La Cruz Valencia A01738420

# **Actividad de Pandas**

In [1]:
import pandas as pd

1. Creación e impresión del dataframe ficticio de ventas de frutas

In [2]:
df = pd.DataFrame({'Product': ['Carrots', 'Broccoli', 'Banana', 'Banana', 'Beans', 'Orange', 'Broccoli', 'Banana'],
                   'Category': ['Vegetable', 'Vegetable', 'Fruit', 'Fruit', 'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
                   'Quantity': [8, 5, 3, 4, 5, 9, 11, 8],
                   'Amount': [270, 239, 617, 384, 626, 610, 62, 90]})
print(df)

    Product   Category  Quantity  Amount
0   Carrots  Vegetable         8     270
1  Broccoli  Vegetable         5     239
2    Banana      Fruit         3     617
3    Banana      Fruit         4     384
4     Beans  Vegetable         5     626
5    Orange      Fruit         9     610
6  Broccoli  Vegetable        11      62
7    Banana      Fruit         8      90

2. Seleccionar e imprimir las columnas de 'Product' y 'Quantity'

In [3]:
print(df[['Product', 'Quantity']])

    Product  Quantity
0   Carrots         8
1  Broccoli         5
2    Banana         3
3    Banana         4
4     Beans         5
5    Orange         9
6  Broccoli        11
7    Banana         8

3. Seleccionar e imprimir los renglones con índices 4 y 6

In [4]:
print(df.iloc[[4, 6]])

    Product   Category  Quantity  Amount
4     Beans  Vegetable         5     626
6  Broccoli  Vegetable        11      62

4. Usar groupby para agrupar por 'Product' y mostrar la suma de la columna 'Quantity'

In [5]:
print(df.groupby('Product')['Quantity'].sum())

Product
Banana      15
Beans        5
Broccoli    16
Carrots      8
Orange       9
Name: Quantity, dtype: int64

5. Usar groupby para agrupar por 'Category' y mostrar la suma de la columna 'Amount'

In [6]:
print(df.groupby('Category')['Amount'].sum())

Category
Fruit        1701
Vegetable    1197
Name: Amount, dtype: int64